---
layout: default
class: home
---

<section id="home">
  <h1 class="sr-only">About Alan Palazzolo</h1>

  <p class="about">
    Alan Pala<strong>zzolo</strong> is an open-source coder trying to make the
    world a little better using technology to tell compelling, visual, and
    data-driven stories.
  </p>

  <div class="web-links">
    <a href="https://twitter.com/zzolo" class="twitter" title="Twitter" target="_blank">
      <i class="ion-logo-twitter"></i>
    </a>
    <a href="https://github.com/zzolo" class="github" title="Github" target="_blank">
      <i class="ion-logo-github"></i>
    </a>
    <a href="https://keybase.io/zzolo" class="keybase" title="Keybase" target="_blank">
      <i class="ion-md-key"></i>
    </a>
  </div>
</section>

<section class="projects">
  <h1 class="sr-only">Projects by Alan Palazzolo</h1>

  <div class="projects-container">
    {% for project in site.data.projects %}
    <article class="project">
      <h1 class="h2">{{ project.title }}</h1>

      <div class="project-layout">
        <div class="project-image">
          {% if project.projectUrl and project.projectUrl != '' %}
          <a target="_blank" href="{{ project.projectUrl }}">
            <img src="/images/projects/{{ project.image }}" alt="Screenshot of {{ project.title }}" />
          </a>
          {% else %}
          <img src="/images/projects/{{ project.image }}" alt="Screenshot of {{ project.title }}" />
          {% endif %}
        </div>

        <div class="project-description">
          <div class="links">
            {% if project.projectUrl and project.projectUrl != '' %}
            <a target="_blank" href="{{ project.projectUrl }}" class="project-link" title="Go to project">Project
              <i class="icon ion-md-open"></i>
            </a>
            {% endif %} {% if project.codeUrl and project.codeUrl != '' %}
            <a target="_blank" href="{{ project.codeUrl }}" class="code-link" title="See code">Code
              <i class="icon ion-md-code-working"></i>
            </a>
            {% endif %}
          </div>

          <p>{{ project.description }}</p>

          {% if project.tags %}
          <div class="tags">
            {% for tag in project.tags %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
