<div class="web-links">
  <a href="/" class="home-link" title="Alan Palazzolo home">
    <i class="icon ion-md-home"></i>
  </a>

  <a href="/atom.xml" class="rss" title="RSS/ATOM" target="_blank">
    <i class="icon ion-logo-rss"></i>
  </a>

  <a href="//twitter.com/zzolo" class="twitter" title="Twitter" target="_blank">
    <i class="icon ion-logo-twitter"></i>
  </a>

  <a href="//github.com/zzolo" class="github" title="Github" target="_blank">
    <i class="icon ion-logo-github"></i>
  </a>

  <a
    href="https://keybase.io/zzolo"
    class="keybase"
    title="Keybase"
    target="_blank"
  >
    <i class="icon ion-md-key"></i>
  </a>

  <a
    href="//linkedin.com/in/alanpalazzolo"
    class="linked-in"
    title="LinkedIn"
    target="_blank"
  >
    <i class="icon ion-logo-linkedin"></i>
  </a>
</div>
