<div class="web-links">
  <a href="/" class="home-link" title="Alan Palazzolo home">
    <i class="icon ion-md-home"></i>
  </a>

  <a href="/atom.xml" class="rss" title="RSS/ATOM" target="_blank">
    <i class="icon ion-logo-rss"></i>
  </a>

  <a href="//twitter.com/zzolo" class="twitter" title="Twitter" target="_blank">
    <i class="icon ion-logo-twitter"></i>
  </a>

  <a href="//github.com/zzolo" class="github" title="Github" target="_blank">
    <i class="icon ion-logo-github"></i>
  </a>

  <a
    href="https://keybase.io/zzolo"
    class="keybase"
    title="Keybase"
    target="_blank"
  >
    <i class="icon ion-md-key"></i>
  </a>

  <a
    href="//linkedin.com/in/alanpalazzolo"
    class="linked-in"
    title="LinkedIn"
    target="_blank"
  >
    <i class="icon ion-logo-linkedin"></i>
  </a>

  <a
    href="{% if page.path %}//prose.io/#zzolo/zzolo.github.com/edit/master/{{
      page.path
    }}{% else %}//prose.io/#zzolo/zzolo.github.com{% endif %}"
    class="prose-edit"
    title="Edit this with Prose.io"
    target="_blank"
  >
    <i class="icon ion-md-create"></i>
  </a>

  <a
    href="//prose.io/#zzolo/zzolo.github.com/new/master/_posts"
    class="prose-add"
    title="Add post with Prose.io"
    target="_blank"
  >
    <i class="icon ion-md-add-circle-outline"></i>
  </a>
</div>
