.cv {
  h3 {
    margin-bottom: 0;
  }

  h2 {
    border-bottom-width: 0.15em;
    border-bottom-style: solid;
    display: inline-block;
    clear: both;

    &#summary {
      border-bottom-color: #e83f6f;
    }

    &#professional-experience {
      border-bottom-color: #2274a5;
    }

    &#publishing {
      border-bottom-color: #32936f;
    }

    &#open-source {
      border-bottom-color: #ffbf00;
    }

    &#speaking-engagements {
      border-bottom-color: #e83f6f;
    }

    &#community-leadership {
      border-bottom-color: #2274a5;
    }

    &#events {
      border-bottom-color: #32936f;
    }

    &#education {
      border-bottom-color: #ffbf00;
    }
  }

  .sub-heading {
    color: #676767;
    margin-bottom: 1em;
    font-size: 0.85em;
  }

  @media print {
    .contact-info {
      display: block;
    }

    .header {
      border-bottom-color: $color-text-print;

      .header-image svg {
        color: $color-text-print;
        fill: $color-text-print;
      }

      h1 {
        height: 2em;
      }
    }

    .site h1.title a {
      color: white;
    }

    ul.menu a {
      color: white;
    }

    a {
      color: $color-text-print;
    }

    .footer {
      display: none;
    }
  }
}
