.home {
  .about {
    text-align: center;
    margin: 1.5em 0.5em 1.5em 0.5em;
    font-size: 2em;
    line-height: 1.35em;
  }

  .post-list-title {
    text-align: center;
    border-bottom: 1px solid $color-gray-light;
  }
}
