---
layout: default
title: Projects
class: projects
---

<p>Below are links to projects I have worked on over the years. Given the ephemeral nature of the Internet, it is
  possible
  that links may break.</p>

<div class="projects-layout">
  {% for project in site.data.projects %}
  <div class="project cf">
    <h3>{{ project.title }}</h3>

    <div class="project-image">
      {% if project.projectUrl and project.projectUrl != '' %}
      <a target="_blank" href="{{ project.projectUrl }}">
        <img src="/images/projects/{{ project.image }}" alt="Screenshot of {{ project.title }}">
      </a>
      {% else %}
      <img src="/images/projects/{{ project.image }}" alt="Screenshot of {{ project.title }}">
      {% endif %}
    </div>

    <div class="project-description">
      <div class="links">
        {% if project.projectUrl and project.projectUrl != '' %}
        <a target="_blank" href="{{ project.projectUrl }}" class="project-link" title="Go to project">Project
          <i class="ion-android-open"></i>
        </a>
        {% endif %}

        {% if project.codeUrl and project.codeUrl != '' %}
        <a target="_blank" href="{{ project.codeUrl }}" class="code-link" title="See code">Code
          <i class="ion-code-working"></i>
        </a>
        {% endif %}
      </div>

      <p>{{ project.description }}</p>

      {% if project.tags %}
      <div class="tags">
        {% for tag in project.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
