<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/syntax-github.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body class="{{ page.class }}">
    <div class="site">
      <div class="header">
        <div class="header-image">
          <img src="/images/logo-tree-1.png" />
        </div>
        
        <h1 class="title"><a href="/">zzolo</a></h1>
        
        <ul class="menu">
          <li><a href="/pages/projects">projects</a></li>
          <li><a href="/pages/contact">contact</a></li>
          <li><a href="/pages/cv">cv</a></li>
        </ul>
      </div>

      <div class="content">
        {{ content }}
      </div>

      <div class="footer">
        <div class="web-links cf">
          <a href="//twitter.com/zzolo" class="twitter abg" title="Twitter" target="_blank">
            <img src="/images/twitter-256.png" />
          </a>
          <a href="//github.com/zzolo" class="github abg" title="Github" target="_blank">
            <img src="/images/github-256.png" />
          </a>
          <a href="//flickr.com/photos/masada4242/" class="flikcr abg" title="Flickr" target="_blank">
            <img src="/images/flickr-256.png" />
          </a>
          <a href="//linkedin.com/in/alanpalazzolo" class="linked-in abg" title="LinkedIn" target="_blank">
            <img src="/images/linkedin-256.png" />
          </a>
          <a href="{% if page.path %}//prose.io/#zzolo/zzolo.github.com/edit/master/{{ page.path }}{% else %}//prose.io/#zzolo/zzolo.github.com{% endif %}" class="prose-edit abg" title="Edit this with Prose.io" target="_blank">
            <img src="/images/document-256.png" />
          </a>
          <a href="//prose.io/#zzolo/zzolo.github.com/new/master/_posts" class="prose-add abg" title="Add post with Prose.io" target="_blank">
            <img src="/images/new-file-256.png" />
          </a>
        </div>
      </div>
    </div>
    
    <!-- JS -->
    <script type="text/javascript" src="/components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    
    <!-- GA -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-94405-11']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <!-- IDL http://members.internetdefenseleague.org/ -->
    <script type="text/javascript">
      window._idl = {};
      _idl.variant = "modal";
      (function() {
        var idl = document.createElement('script');
        idl.type = 'text/javascript';
        idl.async = true;
        idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
        document.getElementsByTagName('body')[0].appendChild(idl);
      })();
    </script>
  </body>
</html>
