<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!-- [if (gte IE 9)|!(IE)]><! -->
<html lang="en">
<!-- <![endif] -->

<head>
  {% include meta.html %}
</head>

<body class="{{ page.class }}">
  <div class="site">
    <header class="header">
      <div class="contact-info"></div>

      <div class="header-image">{% include logo-tree-04.svg %}</div>

      <h1 class="title"><a href="/">zzolo</a></h1>

      <ul class="menu">
        <li><a href="/pages/contact">contact</a></li>
        <li><a href="/pages/projects">projects</a></li>
        <li><a href="/pages/sketchbook">sketchbook</a></li>
        <li><a href="/pages/cv">cv</a></li>
      </ul>
    </header>

    <main class="content">{{ content }}</main>

    <footer class="footer">
      {% include web-links.html %}
    </footer>

    <footer class="footer print-only-block">
      zzolo.org | alan.palazzolo@gmail.com
    </footer>
  </div>

  <!-- JS -->
  {% include scripts.html %}

  <!-- GA -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-94405-11"]);
    _gaq.push(["_trackPageview"]);

    (function () {
      var ga = document.createElement("script");
      ga.type = "text/javascript";
      ga.async = true;
      ga.src =
        ("https:" == document.location.protocol
          ? "https://ssl"
          : "http://www") + ".google-analytics.com/ga.js";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>

</html>
