---
layout: default
class: post
---

<article>
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date_to_string }}</p>

  <div class="post">
    {{ content }}
  </div>

  <aside class="post-nav cf">
    {% if page.previous %}
      <article class="post-nav-prev">
        <h1 class="sr-only">{{ page.previous.title }}</h1>

        <a href="{{ page.previous.url }}">
          <span class="sr-only">Go to previous post: </span>
          <i class="ion-md-arrow-back"></i> &nbsp;
          {{ page.previous.title }}
        </a>
      </article>
    {% endif %}

    {% if page.next %}
      <article class="post-nav-next">
        <h1 class="sr-only">{{ page.next.title }}</h1>

        <a href="{{ page.next.url }}">
          <span class="sr-only">Go to next post: </span>
          {{ page.next.title }} &nbsp;
          <i class="ion-md-arrow-forward"></i></a>
      </article>
    {% endif %}
  </aside>
</article>
